.pagination .page-item .page-link {
  color: #007bff !important;
}

.pagination .page-item.active .page-link {
  background-color: #007bff !important;
  color: #fff !important;
  border-color: #007bff !important;
}

.pagination .page-item:hover .page-link {
  background-color: rgba(0, 123, 255, 0.1) !important;
}

.card {
    height: 100%; 
  }
  
  .card-body {
    min-height: 150px; 
  }
  
  .ratio-4x3 img {
    object-fit: cover; 
  }